<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
 
	<Properties>
		<!-- Root logs dir fixed -->
		<Property name="logRootDir">logs</Property>
 
		<!-- Hard fallback only when test-default & app-default don't have env
		variable mentioned in properties file-->
		<Property name="hardDefault">test</Property>
 
		<!-- Pick env from CLI first, then OS environment, else fallback it normalize to env, ENV, Env-->
		<Property name="defaultEnv">
			${sys:env:-${sys:ENV:-${sys:Env:-${env:ENV:-${env:env:-${hardDefault}}}}}}
		</Property>
 
		<!-- Final envName with CLI/OS override, else file-based defaultEnv -->
		<Property name="envRaw">
			${sys:ENV:-${sys:env:-${env:ENV:-${env:env:-${defaultEnv}}}}}
		</Property>
 
		<!-- 4) Normalize to lowercase -->
		<Property name="envName">
			${lower:${envRaw}}
		</Property>
 
 
		<!-- Compose the final logDir -->
		<Property name="logDir">${logRootDir}/${envName}</Property>
 
 
		<!-- Timestamp captured at config load (run start) -->
		<Property name="startTime">${date:yyyy-MM-dd_HH-mm-ss}</Property>
 
		<!-- Use timestamped file name -->
		<Property name="logFileName">application-${startTime}.log</Property>
		<!-- Line pattern -->
		<Property name="pattern">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg
			[env=%X{env}] [scenario=%X{scenario}]%throwable%n
		</Property>
	</Properties>
 
	<Appenders>
 
		<File name="FileAppender"
			fileName="${logDir}/${logFileName}"
			createOnDemand="true"
			bufferedIo="false"
			immediateFlush="true">
			<PatternLayout pattern="${pattern}" />
		</File>
 
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
	</Appenders>
 
	<Loggers>
		<AsyncLogger name="com.cro" level="info" additivity="false">
			<AppenderRef ref="FileAppender" />
			<AppenderRef ref="Console" />
		</AsyncLogger>
		<AsyncRoot level="info">
			<AppenderRef ref="FileAppender" />
			<AppenderRef ref="Console" />
		</AsyncRoot>
	</Loggers>
</Configuration>